.projectcontainer {
    width: 100%;
    height: 100%;
}

.addicon {
    color: #1B2735;
    background-color: #fff;
    border-radius: 50%;
    padding: 8px;
    box-shadow: 1px 1px 5px rgb(56, 55, 55);
    cursor: pointer;
}

.closeicon {
    color: #1B2735;
    background-color: #fff;
    border-radius: 50%;
    padding: 8px;
    box-shadow: 1px 1px 5px rgb(56, 55, 55);
    cursor: pointer;
    transform: rotate(45deg);
}

.projectCard {
    background-color: #fff;
    margin-top: 2rem !important;
}

.projectTitle {
    background-color: #1B2735;
    width: 80%;
    color: #fff;
}

.editIcon,
.deleteIcon {
    cursor: pointer;
}