.nav {
    height: 7%;
    width: 100%;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
}

.navcontainer {
    height: 100%;
}

.socialMediaLink {
    padding-left: 12px;
    padding-right: 12px;
}