.circleScaleBtn {
    padding: 12px 24px;
    background-color: hsl(222, 100%, 95%);
    /* background-color: #1B2735; */
    /* color: #fff; */
    color: #1B2735;
    border: 1px solid #1B2735;
    position: relative;
    /* border-radius: 5px; */
    overflow: hidden;
    z-index: 1;
    display: grid;
    direction: row;
    justify-items: center;
}

.circleScaleBtn span {
    z-index: 1;
    position: relative;
}

.circleScaleBtn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: opacity .4s cubic-bezier(.19, 1, .22, 1), transform .75s cubic-bezier(.19, 1, .22, 1);
    background-color: #1B2735;
    opacity: 0;
}

.circleScaleBtn:hover span {
    /* color: hsl(222, 100%, 95%); */
    /* color: #00e676; */
    color: #fff;
    cursor: pointer;
}

.circleScaleBtn:hover::before {
    opacity: 1;
    transition-duration: .85s;
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
    cursor: pointer;
}