.sidebarcontainer {
    width: 100%;
    height: 100%;
    background-color: #1B2735;
    /* background-color: #343a40; */
}

.logocontainer {
    width: 100%;
    background-color: rgba(61, 74, 116, 0.25);
    /* background-color: rgba(211, 211, 211, 0.25); */
}

.linkcontainer {
    padding-top: 5rem;
}

ul li {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    transition: color ease-in-out .3s;
}

ul li.current {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: #00e676;
    transition: color ease-in-out .3s;
}

ul li:hover {
    background-color: rgba(211, 211, 211, 0.25);
    border-radius: 10px;
    color: #00e676;
}

ul li i {
    font-size: inherit;
}

.iconcontainer {
    margin-right: 10px;
    width: 35px;
    height: 25px;
    display: inline-block;
}