.maincontainer {
    background-color: #fff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.division1 {
    /* background-color: yellow; */
    border-right: 2px dashed #1B2735;
}

.division2 {
    /* background-color: blue; */
    border-right: 2px dashed #1B2735;
}